# Ignore virtual environment
.venv/
venv/

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore database files
db.sqlite3
*.db

# Ignore environment variables
.env
*.env

# Ignore VS Code settings
.vscode/

# Ignore Django migrations (optional)
**/migrations/__pycache__/
**/migrations/*.pyc
**/migrations/*.pyo

# Ignore logs and temp files
*.log
*.bak
*.swp
*.swo
