*{
    box-sizing: border-box;
}

html{
    height: 100%;
    margin: 0;
    background-color: #222025;
    font-family: Roboto, sans-serif;
    background: url('../style/login.background_image.jpg') no-repeat center center fixed;
    background-size: cover;
}

body{
    color: #380404;
    text-align: center;
}

h1{
    font-size: 3em;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

h2{
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(226, 28, 28, 0.8);
}

input{
    background-color: #2E2D31;
    border: unset;
    color: white;
    outline: unset;
    padding: 1.2em;
    border-radius: 5px;
    min-width: 320px;
    text-indent: 1.55em; 
    margin: 1em;
}

input:-webkit-autofill {
    background-color: #2E2D31 !important;
    -webkit-box-shadow: 0 0 0 1000px #2E2D31 inset;
    box-shadow: 0 0 0 1000px #2E2D31 inset;
    color: white !important;
    -webkit-text-fill-color: white !important;
}

button{
    background-color: #2E2D31;
    border: unset;
    color: #D2D2D2;
    padding: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}
button:hover{
    background-color: #3a3a3f;
}

.back-to-home {
    position: absolute;
    top: 30px;
    left: 30px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    width: 150px;
    height: 50px;
}